@import url(https://fonts.googleapis.com/css?family=Dosis); // Variables
$brand-primary: #4fa0de;
$brand-secondary: darken($brand-primary, 7%);
$brand-tertiary: darken($brand-primary, 15%); // Main SASS
body {
    color: #212121 !important;
    background-color: #f9f9f9 !important;
}
// Custom SASS
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Dosis', sans-serif !important;
}
.header-bar {
    background-color: $brand-primary !important;
    color: white !important;
    padding: 1em 0 !important;
    // position: fixed !important;
    // top: 0 !important;
    // left: 0 !important;
    // width: 100% !important;
    // z-index: 99999 !important;
}
.large-text {
    font-size: 24px !important;
}
.strong {
    font-weight: 700 !important;
}
#comm100-button-2233img {
    width: 100% !important;
    height: auto !important;
}
.container {
    max-width: 90% !important;
}
.cfgen-captcha-img {
    width: 200px !important;
}
.infront {
    z-index: 999999 !important;
}
.no-underline:hover {
    text-decoration: none !important;
}
.margin-top {
    margin-top: 5em !important;
}
.header-bar a {
    color: white !important;
}
#footer {
    background-color: #0A0A0A !important;
    color: #ffffff !important;
}
.btn {
    background-color: $brand-tertiary !important;
    color: white !important;
    border-radius: 0 !important;
}
.minus2em-margin-bottom {
    margin-bottom: -2em !important;
}
.jumbotron a {
    color: white !important;
    text-decoration: underline !important;
}
.padded {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.sml-padded {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.sml-padded {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.text-white {
    color: white !important;
}
.horizontal-space {
    margin: 0 1em !important;
}
.no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.navbar-default {
    margin: 0 !important;
}
.brand-img-sml {
    width: 40px !important;
}
.padding-top {
    padding-top: 2em !important;
}
.nav-highlight:hover {
    color: white !important;
    background-color: $brand-tertiary !important;
}
.padding20 {
    padding: 20px !important;
}
.jumbotron-parallax {
    background-color: transparent !important;
}
.scrolltotop {
    position: fixed !important;
    right: 50px !important;
    bottom: 50px !important;
}
#footer ul {
    list-style: none !important;
    padding: 0 !important;
}
.link {
    color: white !important;
}
.link:hover {
    color: $brand-tertiary !important;
}
.js #menu {
    display: none !important;
}
.js .slicknav_menu {
    display: block !important;
}
.large-social-buttons {
    transform: scale(1.5);
    -ms-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -moz-transform: scale(1.5);
    transform-origin: top left;
    -ms-transform-origin: top left;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -webkit-transform-origin: top left;
}
.z-1 {
    z-index: -1 !important;
}
.white-bg {
    background-color: white !important;
}
.card {
    background-color: white !important;
    border: 1px solid #b8b8b8 !important;
    min-height: 450px !important;
    position: relative !important;
}
.card .btn {
    position: absolute !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
}
.text-brand-primary {
    color: $brand-primary !important;
}
.business-man {
    background-image: url("img/business-man.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    min-height: 500px !important;
}
.business-woman {
    background-image: url("img/business-woman.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    min-height: 500px !important;
}
.min-height-400 {
    min-height: 400px !important;
}
#slicknav-append {
    color: white !important;
}
.bg-brand-primary {
    background-color: $brand-primary !important;
}
.m6-house-bg {
    background-image: url("img/m6-motorway-house.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    min-height: 500px !important;
}
.road-bg {
    background-image: url("img/road.jpg") !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}
.grey-bg {
    background-color: rgba(0, 0 ,0, 0.5) !important;
    padding: 4em !important;
}
.certificate-boxes {
    padding: 4em !important;
}
.header-bar li {
    padding: 0.5em 0 !important;
}
#footer li {
    padding: 0.5em 0 !important;
}
label {
    color: white !important;
}
@media (min-width: 768px) {
    .padded {
        padding-top: 2em !important;
        padding-bottom: 2em !important;
    }
}
@media (min-width: 992px) {
    .padded {
        padding-top: 3em !important;
        padding-bottom: 3em !important;
    }
    .sml-padded {
        padding-top: 2em !important;
        padding-bottom: 2em !important;
    }
}
@media (min-width: 1200px) {
    .padded {
        padding-top: 4em !important;
        padding-bottom: 4em !important;
    }
}
