// px to em conversion mixin
$base: 16;
@function em($px) {
  @return ($px / $base) * 1em;
}

// Content and grid variables
$content-width: 95%;
$max-content-width: em(960);
$grid-columns: 12;

// Branding & Colour variables
$brand1: #00a1d9; // Primary Colour
$brand2: #04518c; // Secondary - Preferably a darker shade of $brand1
$brand3: #003056; // Tertiary
$grey: #212121;
$notice: #ff9300;
$warning: #ad0000;
$sucess: green;
$background-color: white;
$heading-color: $brand1;
$text-color: #212121;

// Font & Typography variables
$line-height: 1.48;
$title-font: 'Open Sans', helvetica, Arial, sans-serif;
$para-font: 'Open Sans', helvetica, Arial, sans-serif;

// Button and form element variables
$border-radius: em(0);

// Responsive Media Query Mixins
// Note: Litework is mobile-first so <20em is the default
$sml-screen: "(min-width: " + em(700) + ")";
$med-screen: "(min-width: " + em(1050) + ")";
$lrg-screen: "(min-width: " + em(1400) + ")";
@mixin bp($size) {
  @if $size == sml-screen {
    @media #{$sml-screen} {
      @content;
    }
  }
  @if $size == med-screen {
    @media #{$med-screen} {
      @content;
    }
  }
  @if $size == lrg-screen {
    @media #{$lrg-screen} {
      @content;
    }
  }
}

// Clearfix mixin
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
  & {
    *zoom: 1;
  }
}
