// px to em conversion mixin
$base: 16;
@function em($px) {
  @return ($px / $base) * 1em;
}

// Content and grid variables

$content-width: 100%;
$max-content-width: em(1400);
$grid-columns: 12;

// Branding & Colour variables

$brand1: #2095f2;
$brand1-drk: #2095f2;
$brand2: #2095f2;
$brand3: #2095f2;
$grey: #262626;

$notice:#ff9300;
$warning:#ad0000;
$sucess:green;

// Font & Typography variables

$line-height: 1.1;

$title-font: 'Roboto', 'Open Sans', helvetica, Arial, sans-serif;
$para-font: 'Roboto', 'Open Sans', helvetica, Arial, sans-serif;

// Button and form element variables

$border-radius:em(0);

// Responsive Media Query Mixins
// Note: Litework is mobile-first so <20em is the default

    $sml-screen: "(min-width: " + em(700) + ")";
    $med-screen: "(min-width: " + em(1050) + ")";
    $lrg-screen: "(min-width: " + em(1400) + ")";

@mixin bp($size) {

        @if $size == sml-screen
    {
        @media #{$sml-screen} { @content; }
    }

        @if $size == med-screen
    {
        @media #{$med-screen} { @content; }
    }

        @if $size == lrg-screen
    {
        @media #{$lrg-screen} { @content; }
    }

}

// Clearfix mixin

@mixin clearfix {

&:before,
&:after {
    content: " ";
    display: table;
}

&:after {
    clear: both;
}

& {
    *zoom: 1;
}
}
