/*******************************************
Buttons
*******************************************/

button
{
    margin:0.25em 0;
    padding:1em;
    background-color:$brand1;
    border-radius:$border-radius;
    border:none;
    color:white !important;
    font-weight:400 !important;
    font-size:1em;
}

.button
{
    margin:0.25em 0;
    padding:1em;
    background-color:$brand1-drk;
    border-radius:$border-radius;
    border:none;
    color:white !important;
    font-weight:400 !important;
    font-size:1em;
}

button:hover
{
    background-color:$brand1-drk;
}

button:active
{
    background-color:$brand1-drk;
}

.btn-sml
{
    font-size:0.75em !important;
}

.btn-med
{
    font-size:1em !important;
}

.btn-lrg
{
    font-size:1.5em !important;
}

.btn-fluid
{
    width:100%;
    text-align:center;
    @include clearfix;
    border-radius:$border-radius;
}

.btn-ghost
{
    background:none;
    border:1px solid $brand1;
    color:$brand1 !important;
    border-radius:$border-radius;
}

.btn-ghost:hover
{
    background-color:rgba(206, 206, 206, 0.2) !important;
}
