#wrapper

{
    width:100%;
    margin:0 auto;
    font-size:16px;
	line-height:1.428;
    width:100%;
    @include clearfix;
}

.container
{
	width:100%;
	max-width: $max-content-width;
	margin:0 auto;
	padding:0;
	@include clearfix;
}

.row
{
    @include clearfix;
}

.grey-bg
{
  background-color:#141414;
  width:50%;
  padding:1em;
  margin: 0 0 0 0;
  float:right;
}

.teeth-whitening
{
  background-image:url('../img/teeth-whitening.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.dietician
{
  background-image:url('../img/foodchoice.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.facial
{
  background-image:url('../img/facial.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.crosstrainer
{
  background-image:url('../img/crosstrainer.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:top;
}

.healthy
{
  background-image:url('../img/healthy.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.pedicure
{
  background-image:url('../img/pedicure.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.slim-woman
{
  background-image:url('../img/slim-woman.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.waxing
{
  background-image:url('../img/waxing.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.slim-man
{
  background-image:url('../img/slim-man.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

.massage
{
  background-image:url('../img/massage.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
}

//    Target all column classes and apply these basic attributes, giving 100% width, some padding,
//    a float and a min-height which forces the column to 'render' even if it is empty.

[class*='column-']

{
    width:100%;
    padding:1em;
    float:left;
    min-height:1px;
}

.grey
{
  background-color:#141414;
}

// Container drops to 90% width at sml-screen and above

@include bp(sml-screen)
{

.container
{
    width:90%;
}

.grey-bg
{
  width:50%;
}

.grey
{
  min-height:400px !important;
}

	// SASS Column generation

@for $i from 1 through $grid-columns {

    .column-#{$i}

    {
    width: 100% / $grid-columns * $i;
    }
}


}
