/******************************************* 
Footer
*******************************************/

#footer
{
background-color:$grey;
margin:0 0 0 0;
padding:2em 0 2em 0;
color:white;
overflow:hidden;
clear:both;
}

#footer a
{
    color:#888;
}

#footer a:hover
{
    color:$brand1;
}

.footer-heading
{
    color:white;
    font-size:1em;
    padding:0 0 1em 0;
    margin:0;
}

#footer ul
{
    margin:0;
    padding:0;
}

#footer li
{
    list-style: none;
}