/******************************************* 
Form Elements 
*******************************************/

.formbg
{
background-color:$brand1;
width:100%;
margin:0;
}

.form
{
width:$content-width;
max-width:$max-content-width;
margin:auto;
padding:2em 0 2em 0;
color:white;
}

input
{
width:100%;
}

label
{
padding:0 0 2em 0;
}