/******************************************* 
Header elements 
*******************************************/

#header
{
	overflow:hidden;
	background:$brand3;
	padding:3em 0;
	margin:0;
	clear:both;
/*	background-image:url('../img/header.jpg');
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
*/
}

@include bp(med-screen)
	
{
	
	#header
{
	padding:4em 0 2em 0;
	margin:0;
}
	
}