/*******************************************
Header elements
*******************************************/

#header
{
	overflow:hidden;
	background:black;
	padding:3em 0;
	margin:0;
	background-image:url('../img/running.jpg');
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
	@include clearfix;
}

#header-contact
{
	overflow:hidden;
	background:black;
	padding:3em 0;
	margin:0;
	background-image:url('../img/contact.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
	@include clearfix;
}

@include bp(med-screen)

{

	#header
{
	padding:18em 0 14em 0;
	margin:0;
}

#header-contact
{
	padding:18em 0 14em 0;
	margin:0;
}

}
