/*******************************************
Header elements
*******************************************/
#header {
	overflow: hidden;
	background: $brand1;
	text-align: center !important;
	padding: 0;
	margin: 0;
	background-image: url("../img/smiling-doctor.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	@include clearfix;
}
#header .column-6 {
	background-color: $brand1;
	color: white !important;
	padding: 6em 1em;
	text-align:left;
}
@include bp(med-screen) {
	#header {
		padding: 0;
		margin: 0;
	}
}
