/*******************************************
Header elements
*******************************************/
#hero {
  background: transparent;
  padding: 3em 0;
  margin: 0;

  //  background-image: url("../img/hero.jpg");
  //  background-repeat: no-repeat;
  //  background-size: cover;
  //  background-position: center;
  @include clearfix;
}
