/******************************************* 
Images
*******************************************/

img 

{
	width:auto;
    max-width:100%;
    height:auto !important;
}

.mobile-logo {
	display:block;
	margin:2em 0;
}

@include bp(sml-screen) {
.mobile-logo {
	display:none;
}}
