/*******************************************
Images
*******************************************/

img

{
	width:auto;
    max-width:100%;
    height:auto !important;
}

.logo
{
	height:75px;
	width:auto;
	float:left;
}
