/*******************************************
Navigation elements
*******************************************/
.logo {
  padding: 1.5em !important;
}
#menu a {
  color: #212121;
}
#menu li {
  margin: 0 0 0 3em;
  font-family: $para-font;
  font-weight: 300;
  display: inline-block;
}
#menu a:hover {
  border-bottom: 0.25em $brand1 solid;
  padding: 0 0 0.25em;
}
#navstrip {
  width: 100%;
  background-color: white;
  top: 0;
  padding: 1em 0;
  color: #212121;
  border-bottom: $brand1 solid 0.5em;
}
#navstrip ul {
  margin: 0;
}
.slicknav_menu {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
}
#sidebar {
  float: left;
  width: 30%;
  padding: 2em;
  height: 100%;
  background: $grey;
}
.js #menu {
  display: none;
}
#menu {
  display: none;
}
.margin-top {
  margin-top: 5em;
}
.mini-nav {
  display: block;
  text-align: center;
  margin:1em 0 0 0;
}
.mini-nav-box {
  margin: 0;
  padding: 1em 0;
  background-color: #e2e2e2;
}
.mini-nav-box a {
  color: $brand1;
}
.mini-nav-box a:hover {
  color: white !important;
}
.mini-nav-box a:active {
  color: white !important;
}
.mini-nav-box:active {
  background-color: $brand1;
  color: #fff !important;
}
.mini-nav-box:hover {
  background-color: $brand1;
  color: #fff !important;
}
@include bp(sml-screen) {
  .margin-top {
    margin-top: 3em;
  }

  .logo {
    width:50%;
  }
}
@include bp(lrg-screen) {
  .js .slicknav_menu {
    display: none;
  }
  .mini-nav {
    display: none;
  }
  .slicknav_menu {
    display: none;
  }
  .js #menu {
    display: block;
    float: right;
  }
  #menu {
    display: block;
    float: right;
  }
  .margin-top {
    margin-top: 0;
  }
  .logo {
    width: 25%;
  }
}
