/*******************************************
Navigation elements
*******************************************/
#menu {
  float: right;
  margin: 1em 0;
}
#menu a {
  color: white;
}
#menu li {
  margin: 0 0 0 2em;
  font-family: $para-font;
  font-weight: 400;
  display: inline-block;
}
#menu a:hover {
  color: $brand1;
}
#navstrip {
  width: 100%;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, .75);
  top: 0;
  padding: 1em 0;
  position: fixed;
  display: none;
  z-index: 1;
}
.slicknav_menu {
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  margin: 0;
}
@include bp(sml-screen) {
  .js .slicknav_menu {
    display: none;
  }
  .slicknav_menu {
    display: none;
  }
  #navstrip {
    display: block;
  }
}
