/******************************************* 
Navigation elements 
*******************************************/

#menu a
{
    color:white;
}

#menu li
{
	margin:0 0 0 3em;
	font-family:$para-font;
	font-weight:300;
	display:inline-block;
}

#menu a:hover
{
    border-bottom:0.25em $brand1 solid;
    padding:0 0 0.25em 0;
}

#navstrip
{
	width:100%;
	background-color:$brand3;
    top:0;
	padding:1em 0;
}

#navstrip ul
{
	margin:0;
}

.slicknav_menu 
{
	display:block;
	position:fixed;
	width:100%;
}

#sidebar

{
    float:left;
    width:30%;
    padding:2em;
    height:100%;
}

#menu
{
	display:none;
}

@include bp(med-screen)

{

	.slicknav_menu {
	display:none;
}
	
	#menu {
		display:block;
		float:right;
	}
	
}