html {

  // Enable word breaking and hypenation (cross browser)
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;

  // Set global font to p font
  font-family: $para-font;

  // Set global line height
  line-height: $line-height;
}
