/*******************************************
Tables
*******************************************/
table {
  width: 100%;
  margin: 1em 0;
  border-collapse: collapse;
}
tr {
  width: 25%;
  /* 100% divided by number of columns*/
}
td {
  padding: 1em;
  border: 1px solid lightgrey;
  vertical-align: top !important;
}
.table-header {
  font-family: $title-font;
  font-weight: 700;
  font-size: 1em;
  background-color: $brand1;
  color: white !important;
}
.no-border {
  border: none !important;
}
