/******************************************* 
Typography 
*******************************************/

h1
{
	font-family:$title-font;
	font-weight:700;
	font-size:2.25em;
	color:$brand3;
}

@include bp(sml-screen)
{
	h1
{
	line-height:$line-height;
}
}

h2
{
	font-family:$title-font;
	font-weight:700;
	font-size:1.875em;
	color:$brand1;
    line-height:$line-height;
}

h3
{
	font-family:$title-font;
	font-weight:700;
	color:$brand1;
	font-size:1.5em;
    line-height:$line-height;
}

h4
{
	font-family:$title-font;
	font-weight:700;
	font-size:1.125em;
    color:$brand1;
    line-height:$line-height;
}

h5
{
	font-family:$title-font;
	font-weight:700;
	font-size:0.875em;
    color:$brand1;
    line-height:$line-height;
}

h6
{
	font-family:$title-font;
	font-weight:700;
	font-size:0.75em;
    color:$brand1;
    line-height:$line-height;
}

p
{
	font-family:$para-font;
	font-weight:400;
	font-size:1em;
	margin:0 0 1.43em 0;
    line-height:1.428;
}

a
{
     font-family:$para-font;
     font-weight:400;
     color:$brand3;
     text-decoration:none;
}

hr
{
    background-color:$brand3;
    margin:1em 0 1em 0;
    width:75%;
}

ul
{
    list-style:disc inside;
    line-height:$line-height;
    margin:1em 0 0 0;
}

ol
{
    list-style:decimal inside;
    line-height:$line-height;
    margin:1em 0 0 0;
}

em

{
	font-style:italic;
}

.small
{
    color:#bababa;
    font-size:0.75em;
    margin:1em 0 1em 0;
    line-height:$line-height;
}

.white
{
	color:white !important;
}