/*******************************************
Typography
*******************************************/
h1 {
  font-family: $title-font;
  font-weight: 700;
  font-size: 2.25em;
  margin: 0 0 1em;
  color: $heading-color;
}
h2 {
  font-family: $title-font;
  font-weight: 700;
  font-size: 1.875em;
  margin: 0 0 1em;
  color: $heading-color;
}
h3 {
  font-family: $title-font;
  font-weight: 700;
  font-size: 1.5em;
  margin: 0 0 1em;
  color: $heading-color;
}
h4 {
  font-family: $title-font;
  font-weight: 700;
  font-size: 1.125em;
  margin: 0 0 1em;
  color: $heading-color;
}
h5 {
  font-family: $title-font;
  font-weight: 700;
  font-size: 0.875em;
  margin: 0 0 1em;
  color: $heading-color;
}
h6 {
  font-family: $title-font;
  font-weight: 700;
  font-size: 0.75em;
  margin: 0 0 1em;
  color: $heading-color;  
}
p {
  font-family: $para-font;
  font-weight: 400;
  font-size: 1em;
  color: $text-color;
  margin: 0 0 1em;
}
a {
  font-family: $para-font;
  text-decoration: none;
}
a[href^=tel] {
  color: inherit;
  text-decoration: none;
}
ul {
  font-family: $para-font;
  list-style: disc;
  line-height: 1.428;
  margin: 1em 0;
  padding-left: 2em;
  display: block;
  color: $text-color;
}
ol {
  font-family: $para-font;
  list-style: decimal;
  line-height: 1.428;
  margin: 1em 0 0;
  display: block;
  color: $text-color;
}
li {
  display: list-item;
  color: $text-color;
}
em {
  font-family: $para-font;
  font-style: italic;
}
strong {
  font-weight: 700;
}

/*****
Horizontal Rules
*****/
hr {
  margin: 1em 0;
}
.hr-25 {
  width: 25%;
}
.hr-50 {
  width: 50%;
}
.hr-75 {
  width: 75%;
}
.hr-100 {
  width: 100%;
}
.hr-centered {
  margin: inherit auto;
}
.hr-brand1 {
  background-color: $brand1;
}
.hr-brand2 {
  background-color: $brand2;
}
.hr-brand3 {
  background-color: $brand3;
}

/*****
Custom type
*****/
.small {
  font-family: $para-font;
  font-size: 0.75em;
}
