/*****
Type colours
*****/
.white {
  color: white !important;
}
.red {
  color: red !important;
}
.text-brand1 {
  color: $brand1;
}
.text-brand2 {
  color: $brand2;
}
.text-brand3 {
  color: $brand3;
}

/*****
Text alignment
*****/
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
