.warnings {
  width: 100%;
  height: auto;
  min-height: 1px !important;
  padding: 1em;
  margin: 0;
  color: white;
  background-color: $notice;
  position: relative;
  top: 0;
  @include clearfix;
}
.warnings {
  a {
    color: white;
    text-decoration: underline;
  }
  a:hover {
    font-weight: 700;
  }
  p {
    margin: 0;
  }
}
noscript {
  @extend .warnings;
}
.old-ie {
  @extend .warnings;
}
.opera-mini {
  @extend .warnings;
  display: none;
  background-color: $warning !important;
}
