html {

  // Set global font to p font
  font-family: $para-font;

  // Set global line height
  line-height: $line-height;

  // Set background colour of the page
  background-color: $background-color;
}
