/******************************************* 
Buttons
*******************************************/

button
{
    margin:1em 0 1em 0;
    padding:1.5em;
    background-color:$brand1;
    border-radius:1em;
    border:none;
    color:white;
}