/******************************************* 
Columns & layout
*******************************************/

#content
{
	width:$content-width;
	max-width: $max-content-width;
	margin:auto;
	padding:0;
}

#social
{
	width:$content-width;
	max-width: $max-content-width;
	margin:auto;
	padding:1em 0 1em 0;
	overflow:hidden;
		
}

.col4
{
	float:left;
	width:33.333%;
	padding:0 1em 0 0;
    margin:2em 0 2em 0;
}

.col6
{
	float:left;
	width:50%;
	padding:0 1em 0 0;
    margin:2em 0 2em 0;
}

.col8
{
	float:left;
	width:66.666%;
	padding:0 1em 0 0;
	margin:2em 0 2em 0;
}

.col12
{
	width:100%;
	padding:0;
    margin:2em 0 2em 0;
}
