
/*############################## RESPONSIVE CSS ##############################*/

@media screen and (max-width:46em)
{
    
h1
{
	line-height:$line-height;
}
    
.col4
{
	width:100%;
	padding:0;
	float:none;
}
    
.col6
{
	width:100%;
	padding:0;
	float:none;
}
	
.col8
{
	width:100%;
	padding:0;
	float:none;
}
	
#header
{
	padding:0;
}

#hero
{
    margin:0 auto;
	text-align:center;
}

#navstrip
{
	position:relative;
	padding:0;
	height:100%;
    overflow:hidden;
}
   
#maps
{
    max-height:18em;
    clear:both;
    overflow:hidden;
}
   
.backtotop
{
	top:95%;
	left:90%;
}



}

/*############################## END OF RESPONSIVE CSS ##############################*/
