
/*############################## RESPONSIVE CSS ##############################*/

@media screen and (max-width:46em)
{
    
h1
{
line-height:$line-height;
}
    
.title
{
width:50%;
float:left;
max-height:150px;
margin:1em 0 0 0;
}
	
#logo
{
float:none;
margin:auto;
}
    
.col4
{
width:100%;
padding:0;
float:none;
}
    
.col6
{
width:100%;
padding:0;
float:none;
}
	
.col8
{
width:100%;
padding:0;
float:none;
}
	
    #nav
    {
    display:block; 
    float:none;
    clear:both;
    }
    
    #nav li
    {
        display:block;
        text-align:center;
        width:100%;
        margin:0 0 0 0;
        padding:1em 0 1em 0;
        background-color:white;
    }
    
    #nav a
    {
        color:$brand2;
        font-weight:400;
    }
    
    #hero
    {
        margin-top:0;
    }
	
	#heroimg
	{
		float:none;
		width:100%;
	}
	
    #herotxt
    {
        margin:2em 0 2em 0;
        padding:0;
		float:none;
		text-align:center;
		width:100%;
    }
	
	#white
	{
		position:relative;
		padding:0 0 1em 0;
		height:100%;
        overflow:hidden;
	}
    
    #maps
    {
        max-height:18em;
        clear:both;
        overflow:hidden;
    }
    
    .backtotop
{
    top:95%;
    left:90%;
}
	
}

/*############################## END OF RESPONSIVE CSS ##############################*/
