.backtotop
{
    width:2em;
    height:2em;
    position:fixed;
    top:95%;
    left:95%;
}

@include bp(med-screen)
	
{
#maps
{
max-height:18em;
clear:both;
overflow:hidden;
}
   
.backtotop
{
top:95%;
left:90%;
}
}