/******************************************* 
Back to top button
*******************************************/

.backtotop
{
    width:2em;
    height:2em;
    position:fixed;
    top:95%;
    left:95%;
}