/******************************************* 
Navigation elements 
*******************************************/

#nav a
{
    color:white;
}

#nav li
{
	font-family:$para-font;
	font-weight:300;
	display:inline;
	margin:0 0 0 3em;
}

#nav
{
	margin:1em 0 0 0;
	float:right;
}

#nav a:hover
{
    border-bottom:0.25em $brand1 solid;
    padding:0 0 0.25em 0;
}

#navbox
{
	width:$content-width;
	max-width: $max-content-width;
	margin:auto;
}

#navstrip
{
	width:100%;
	height:6em;
	background-color:$brand3;
	position:fixed;
    top:0;
}