/*******************************************
SASS Variables
*******************************************/

$content-width: 90%;
$max-content-width: 1200px;

$brand1: #00A1D9;
$brand2: #04518C;
$brand3: #003056;
$grey: #262626;

$line-height: 1.1;

$title-font: 'Roboto', helvetica, sans-serif;
$para-font: 'Open Sans', helvetica, sans-serif;